.contact-section .titre {
    font-size:24px;
    letter-spacing:0.2rem;
    text-transform: uppercase;    
    color:#000;
   
}
input {
    font-size:18px;
    width:100% !important;
    padding:0.5rem;
    border-radius:30px;
    border:1px solid #BCB5B5;
}
textarea {
    font-size:18px;
    padding:0.5rem;
    border-radius:30px;
    border:1px solid #BCB5B5;
}
.contact-section .titre {
    width:100%;
}
form .all-form {
    margin:auto;
    margin-top:5rem;
    display:flex;
    flex-direction: row;
    width:60vw !important;
    flex-wrap: wrap;
    justify-content: flex-start;   
    
}
.form-group {
    margin:2rem;
    width:35% !important;
}
